* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
}

.button-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.each-button {
  display: flex;
  align-items: center;
  gap: 10px;
}
